* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(22,22,22);
}
.display-on {
    display: block;
}
.display-off {
    display: none;
}
.pointer-events {
    pointer-events: none;
}
.container {
    background: rgb(22,22,22);
    width: 100vw;
    height: 100vh;
    /* border: 1px dotted orange; */
}


/* INDEX /////////////////////////////////*/
h1 {
    font-family: 'Nosifer', regular;
    font-size: 8rem;
    color: rgb(235, 235, 235);
}
#index-container {
    display: none;
}
#index-text {
    position: absolute;
    width: 100vw;
    text-align: center;
    margin-top: 30px;
}
#index-img {
    width: 100%;
    margin: 0 auto;
    padding-bottom: -5px;
    text-align: center;
    bottom: 0;
    position: absolute;
    /*  border: 1px dotted rgb(238, 227, 227); */
}
#index-img img {
    width: 80vw;
    bottom: 0;
}
 /* INSTRUCTIONS /////////////////////////////////*/
 h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 2.5rem;
    line-height: 3.5rem;
    color: rgb(235, 235, 235); 
  }
 .start {
     top: 50%;
     left: 65%;
     color: rgb(235, 235, 235); 
     font-size: 45px;
     position: absolute;
 }
.paragraph {
    position: absolute;
    left: 50%;
    padding-right: 2%;
    margin-top: 5%;  
}
#instructions-container {
    display: none;
}
#instructions-img img {
     height: 90vh;
     bottom: 0;
     position: absolute;
}
#play-new {
    position: absolute;
    font-size: 5rem;
    left: 50%;
    top: 30%;
    text-decoration: underline;
    border-radius: 25%;
    padding: 40px;
}

 /* STAGE /////////////////////////////////*/
 .stage-container {
     width: 100vw;
     height: 100vh; 
     display: none;
     position: relative; 
 }

 /* BACKGROUNDS */
 .background  {
     position: absolute;
     top: 0;
     left: 0;
     width: 100vw;
 }
 .background img {
     width: 100%;
 }
 #background-back {
    z-index: 0;
}
#background-front {
    z-index: 2;
    pointer-events: none;
}
.colors {
    z-index: 6;
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%; 
    opacity: 0.7;
}
.colors img {
    width: 100%;
}

 /* KEKOS */
 .character {
     position: absolute;
     z-index: 1;
     display: none;
 }
 .caco {
    background: url(../images/caco.png);
     background-size: contain;
     background-repeat: no-repeat;
     
 }
 .police {
    background: url(../images/policeman.png);
    background-size: contain;
    background-repeat: no-repeat;
   
 }
 #character0 {
    top: 200px;
    left: 550px;
    width:4vw;
    height: 20vh;
 }
 #character1 {
    top: 62%;
    left: 10%;
    width:3vw;
    height: 12vh;
 }
 #character2 {
    top: 465px;
    left: 865px;
    width:4vw;
    height: 19vh;
 }
 #character3 {
    top: 475px;
    left: 1110px;
    width:4vw;
    height: 14vh;
 }
 #character4 {
    top: 480px;
    left: 400px;
    width:4vw;
    height: 18vh;
 }
 #character5 {
    top: 220px;
    left: 660px;
    width:4vw;
    height: 17vh;
 }
 #character6 {
    top: 470px;
    left: 990px;
    width:4vw;
    height: 16vh;
 }
 #character7 {
    top: 450px;
    left: 700px;
    width:4vw;
    height: 18vh;
    
 }
 #character8 {
    top: 480px;
    left: 1160px;
    width:3vw;
    height: 11vh;
 }
 #character9{
    top: 460px;
    left: 580px;
    width:5vw;
    height: 19vh;
 }

 /* WEAPONS */
 .weapon {
     z-index: 5;
     position: absolute;
 }
 .reload {
     display: none;
 }
 #main-weapon {
    left: calc(50% - 96px);
    top: 78%;
 }

 #main-weapon2 {
    left: calc(50% - 141px);
    top: calc(100% - 365px);
 }
 
 #main-weapon3 {
    left: calc(50% - 136.5px);
    top: calc(100% - 455px);
 }
 #main-weapon4 {
    left: calc(50% - 172px);
    top: calc(100% - 395px);
 }
 #shoot {
     position: absolute;
     z-index: 2;
     width: 25vw;
     height: 25vh;
     background: url(../images/shot.png);
     left: 45%;
     top: 65%;
     display: none;
     background-size: contain;
     background-repeat: no-repeat;
 }
.hit {
    z-index: 5;
    position: absolute;
    width: 60px;
    height: 60px;
    opacity: 0.8;
    background: url(../images/hit.png);
    background-size: cover;
    display: none;
}

 /* INTERFAZ */
.interface {
    position: absolute;
    z-index: 4;
    height: 10vh;
    box-shadow: inset 0px 0px 16px 1px rgba(0,0,0,0.75);
    border-radius: 10px;
}
#interface {
    top: calc(100% - 90px);  
    width: 20vw;
    left: 1vw;
    background-color: rgba(223, 191, 105, 0.5);
    padding-left: 23px;
}
#interface-r {
    position: absolute;
    z-index: 4;
    top: calc(100% - 90px);
    left: calc(100% - 21vw);
    width: 20vw;
    padding-right: 10px;
}
.bullet {
    float: left;
    z-index: 5;
    width: 60px;
    height: 50px;
    background: url(../images/shotgun-bullet.png);
    margin-top: calc(6vh - 32px);
}
.horsehead {
    float: right;
    width: 100px;
    height: 80px;
    margin-left: -20px;
    background: url(../images/horse-head.png); 
}

/* GAME OVER */
.game-over-container {
    background: url(../images/kiss.png);
    width: 100vw;
    height: 100vh;
    display: flex;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    visibility: hidden;
}

.game-over-container h2 {
    font-size: 7rem;
    text-shadow: 2px 0 0 #700d0d, -2px 0 0 #700d0d, 0 2px 0 #700d0d, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.play {
    color: rgb(151, 39, 39);
    font-family: 'Press Start 2P', cursive;
    
}
#play-again {
    font-size: 2rem;
    background-color: rgba(255,255,255, 0.3);
    padding: 30px 50px;
    border: 2px solid rgba(151, 39, 39, 0.7);
    border-radius: 40px;
}
#play-again:hover {
    box-shadow: inset 0 0 5px 5px rgba(0,0,0,0.2);
    background-color: rgba(255,255,255, 0.5);
    text-shadow: 0 -1px 0 black,  -1px 0 0 black, -1px 0 0 black;
}

.background-cover {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#kiss {
    font-family: 'Press Start 2P', cursive;
    font-size: 4rem;
    color: white;
    z-index: -1;
    position: absolute;
    top: 40%;
    left: 18%;
    width: 100vw;
}

